apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
        - name: account-service
          image: account-service:1.0
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: account-config
          readinessProbe:
            httpGet:
              path: /health
              port: 8081
