apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
        - name: transaction-service
          image: transaction-service:1.0
          ports:
            - containerPort: 5003
          env:
            - name: PORT
              value: "5003"
            - name: DB_HOST
              value: "postgres-transaction"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "admin"
            - name: DB_PASSWORD
              value: "Password"
            - name: DB_NAME
              value: "transactions"
            - name: RABBITMQ_URL
              value: "amqp://admin:admin@rabbitmq:5672"
            - name: CUSTOMER_SERVICE_URL
              value: "http://customer-service:5001/customers"
            - name: ACCOUNT_SERVICE_URL
              value: "http://account-service:5002/accounts"
            - name: NOTIFICATION_SERVICE_URL
              value: "http://notification-service:5004/notifications"
          readinessProbe:
            httpGet:
              path: /health
              port: 5003
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5003
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"
