apiVersion: v1
kind: Service
metadata:
  name: transaction-service
spec:
  selector:
    app: transaction-service
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 31503
  type: NodePort
